<script type="text/ng-template" id="tickets_table_ticket_column">
    <a href="ticket/{{ rec[col.name] }}/">#{{ rec[col.name] }}</a> |
    <a href="https://iponweb.net/rt/Ticket/Display.html?id={{ rec[col.name] }}"
        target="_blank">RT</a>
</script>

<script type="text/ng-template" id="tickets_table_users_column">
    <div class="expandable-target">
        <div class="pull-left">
            <ul class="list-inline">
                <li ng-repeat="user in rec[col.name] | limitTo: 5">
                    {{ user.username }}
                </li>
                <li ng-if="rec[col.name].length > 5">and {{ rec[col.name].length - 5 }} more</li>
            </ul>
        </div>
        <div class="pull-right">
            <button ng-click="toggleExpand('expand', $event)"
                    class="btn btn-default btn-xs">Expand</button>
        </div>
    </div>
    <div class="expandable-target">
        <p ng-repeat="user in rec[col.name]">
            {{ user.username }} / {{ user.spent_hours }} hour(s)
            <button ng-if="$first" ng-click="toggleExpand('collapse', $event)"
                    class="pull-right btn btn-default btn-xs">Collapse</button>
        </p>
    </div>
</script>


<div class="page-header">
    <h3>{{ viewName }} of &#8220;{{ teamName }}&#8221; team</h3>
    <span class="grey" ng-show="ctrl.workhours">
        Total working hours in {{ startDateStr }}: {{ ctrl.workhours }}
    <span>
</div>

<sortable-table columns="ctrl.tableColumns"
                sort-column="spent_hours"
                sort-desc="true"
                table-data="ctrl.tableData">
</sortable-table>
