<script type="text/ng-template"  id="ticket_table_user_column">
    <a href="user/{{ rec[col.name] }}/">{{ rec[col.name] }}</a>
</script>

<div class="page-header">
    <h3>
        Ticket &#8220;{{ ctrl.objId }}&#8221;
        <a href="https://iponweb.net/rt/Ticket/Display.html?id={{ ctrl.objId }}"
           target="_blank">RT</a>
        <span class="grey font-18px">(total: {{ ctrl.spent_hours }} hour(s))</span>
    </h3>
    <span class="grey" ng-show="ctrl.workhours">
        Total working hours in {{ startDateStr }}: {{ ctrl.workhours }}
    <span>
</div>
<div>
    <div class="col-md-5">
        <sortable-table columns="ctrl.tableColumns"
                        sort-column="spent_hours"
                        sort-desc="true"
                        table-data="ctrl.data">
        </sortable-table>
    </div>
    <div class="col-md-7" highcharts-plot params="ctrl.plotConf"></div>
</div>
