<script type="text/ng-template" id="users_table_user_column">
    <a href="user/{{ rec[col.name] }}/">{{ rec[col.name] }}</a>
</script>

<script type="text/ng-template" id="users_table_tickets_column">
    <div ng-if="!$ctrl.isExpanded[rowIndex]">
        <div class="pull-left">
            <ul class="list-inline">
                <li ng-repeat="item in rec[col.name] | limitTo: 5">
                    <a href="ticket/{{ item.id }}/">#{{ item.id }}</a>
                </li>
                <li ng-if="rec[col.name].length > 5">and {{ rec[col.name].length - 5 }} more</li>
            </ul>
        </div>
        <div class="pull-right">
            <button ng-click="$ctrl.toggleExpand(rowIndex)"
                    class="btn btn-default btn-xs">Expand</button>
        </div>
    </div>
    <div ng-if="$ctrl.isExpanded[rowIndex]">
        <p ng-repeat="item in rec[col.name]">
            <a href="ticket/{{ item.id }}/">#{{ item.id }}</a> |
            <a href="https://iponweb.net/rt/Ticket/Display.html?id={{ item.id }}"
               target="_blank">RT</a> {{ item.spent_hours }} hour(s)

            <button ng-if="$first" ng-click="$ctrl.toggleExpand(rowIndex)"
                    class="pull-right btn btn-default btn-xs">Collapse</button>
        </p>
    </div>
</script>


<div class="page-header">
    <h3>{{ viewName }} of &#8220;{{ teamName }}&#8221; team</h3>
    <span class="grey" ng-show="ctrl.workhours">
        Total working hours in {{ startDateStr }}: {{ ctrl.workhours }}
    </span>
</div>


<sortable-table columns="ctrl.tableColumns"
                sort-column="spent_hours"
                sort-desc="true"
                table-data="ctrl.tableData">
</sortable-table>

<div class="well">
    {{ startDateStr }}:
    <br />
    <div ng-repeat="rec in ctrl.tableData | orderBy:'username'">
        {{ rec.username }} - OK ({{ rec.spent_hours }}h)
    </div>
</div>

