<div>
    <table class="table">
        <thead>
            <th>Ticket</th>
            <th>Users</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in tickets">
                <td>
                    <a href="ticket/{{ item.id }}/">#{{ item.id }}</a>
                </td>
                <td>
                    <p ng-repeat="user in item.users">
                        <a href="user/{{user.name}}/">@{{ user.name }}</a>
                        spent {{ user.time_spent }}
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
