{% load compress %}

<!DOCTYPE html>
<html ng-app="timesheet" ng-strict-di>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <title>Timesheet Analytics</title>
    <script>
        window.TEAMS = [
            {% for slug, name in teams %}
                {slug: "{{ slug }}", name: "{{ name }}"},
            {% endfor %}
        ];
        window.MINDATE = "{{ min_date }}";
        window.MAXDATE = "{{ max_date }}";
    </script>

    {% compress css %}
        <link rel="stylesheet" href="/static/css/select2.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="/static/ui-select/dist/select.min.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="/static/select2-bootstrap-css/select2-bootstrap.min.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="/static/bootstrap-daterangepicker/daterangepicker.css" type="text/css" charset="utf-8">
    {% endcompress %}
    {% compress css %}
        <link rel="stylesheet" href="/static/css/custom.css" type="text/css" charset="utf-8">
    {% endcompress %}

    {% compress js %}
        <script src="/static/moment/min/moment.min.js"></script>
        <script src="/static/jquery/dist/jquery.min.js"></script>
        <script src="/static/lodash/lodash.min.js"></script>
        <script src="/static/highcharts/highcharts.js"></script>
        <script src="/static/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/static/angular/angular.min.js"></script>
        <script src="/static/angular-route/angular-route.min.js"></script>
        <script src="/static/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="/static/ui-select/dist/select.min.js"></script>
        <script src="/static/bootstrap-daterangepicker/daterangepicker.js"></script>
    {% endcompress %}

    {% compress js %}
        <script src="/static/js/app.js"></script>
        <script src="/static/js/services.js"></script>
        <script src="/static/js/controllers.js"></script>
        <script src="/static/js/directives.js"></script>
        <script src="/static/js/tunes.js"></script>
    {% endcompress %}
</head>
<body ng-controller="BaseCtrl">

{% csrf_token %}

    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Timesheets</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="btn-group navbar-btn navbar-left">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter by Team <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for slug, name in teams %}
                            <li class="menu-item dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ name }}</a>
                                <ul class="dropdown-menu">
                                    <li><a href="/team/{{ slug }}/users/">Users</a></li>
                                    <li><a href="/team/{{ slug }}/tickets/">Tickets</a></li>
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <form class="navbar-form navbar-left">
                    <button type="button" class="btn btn-default vtime-calendar"
                            calendar ng-model="ctrl"></button>
                </form>

                <form class="navbar-form navbar-left" role="search">
                    {% verbatim %}
                    <ui-select ng-model="query.selected"
                               ng-disabled="disabled"
                               on-select="searchItemSelected($item, $model)"
                               reset-search-input="true"
                               theme="select2"
                               style="width: 200px;">
                        <ui-select-match placeholder="Ticket or user">
                            {{ $select.selected.name }}
                        </ui-select-match>
                        <ui-select-choices repeat="row in searchResults"
                                           refresh="search($select.search)"
                                           refresh-delay="0">
                            <div ng-bind-html="row.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    {% endverbatim %}
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <ng-view></ng-view>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Timesheet Analytics <span class="pull-right">© IPONWEB, BSW-UI TEAM 2016</span></p>
      </div>
    </footer>
</body>
</html>
